*.class
*.log
.g8
.idea/*
build
logs
target
tempdata
/.idea
/.idea_modules
/RUNNING_PID
/logs
/sbt-dist
.DS_Store
.vscode
conf/server

#### for eclipse ####
.classpath
.settings
.project
.gitignore
.cache-main
pom.xml


node_modules/
null/
.vscode
.metals/*
